html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
}

span {
  opacity: 0;
}

.highlight {
  opacity: 1;
}
  .highlight--1 {
    opacity: 1;
    /* Gray 50% */
    color: #7f7f7f;
  }
  .highlight--2 {
    opacity: 1;
    /* Gray 25% */
    color: #404040;
  }

.keyboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .keyboard__row {
    display: flex;
    justify-content: center;
  }

@keyframes fade {
  100% {
    opacity: 0;
  }
}

.key {
  position: relative;
  width: 1em;
  margin: 0.0625em;
  text-transform: uppercase;
  opacity: 0;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  font-size: 300%;
  animation: fade 1s;
  animation-fill-mode: forwards;
}
  .key--active {
    opacity: 1;
  }

@media (max-width: 1024px) {
  .key {
    font-size: 250%;
  }
}

@media (max-width: 800px) {
  .key {
    font-size: 175%;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .key {
    font-size: 200%;
  }
}
