html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

span {
  opacity: 0;
  transition: opacity 0.125s;
}
.highlight {
  transition: none;
  opacity: 1;
}

.keyboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .keyboard__row {
    display: flex;
    justify-content: center;
  }

@keyframes fade {
  100% {
    opacity: 0;
  }
}

.key {
  position: relative;
  width: 1em;
  margin: 0.0625em;
  text-transform: uppercase;
  opacity: 0;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  font-size: 400%;
  animation: fade 1s;
  animation-fill-mode: forwards;
}
  .key--active {
    opacity: 1;
  }
